.time-line-wrp {
    display: flex;
    justify-content: center;
    margin: 1em 0;
    position: relative;

}

.time-line {
    background-color: blueviolet;
    color: white;
    padding: 1%;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
}

/*.time-line:before,.time-line:after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    display: inline-block;*/
/*    width: 50%;*/
/*    height: 5px;*/
/*    vertical-align: middle;*/
/*    background: blueviolet;*/
/*    background-clip: content-box;*/
/*    border-bottom: 1px solid rgba(255,255,255,.5);*/
/*    left:-1.5em;*/
/*    top: 1em;*/
/*}*/
/*.time-line:after{*/
/*    left:50%;*/
/*}*/